html, body, ul, li, ol, dl, dd, dt, p,a, h1, h2, h3, h4, h5, h6, form, fieldset, legend,span, img,input 
{border:0; margin:0; padding:0; font-family: "微软雅黑";color: #666;}

a{
	color: #666;
    text-decoration: none;
}


.jy-style .header{
	width: 1210px;
	height: 100px;
	margin:0 auto;
}

/*-------------------logo-----------------*/
.jy-style .logo-2017{
	width: 362px;
	height: 60px;
	float: left;
	padding: 20px 0;
}

.jy-style .logo{
	width: 270px;
	height: 60px;
	float: left;
	background: url(../img/images/logo-201305.png) no-repeat;
}

/*-------------------搜索栏-----------------*/
.jy-style .search{
	width: 538px;
	height: 40px;
	float: left;
	margin-top: 25px;
}

.jy-style .form{
	width: 538px;
	height: 36px;
}

.jy-style .text{
	width: 456px;
	height: 32px;
	float: left;
	border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    font-size: 14px;
}

.jy-style .text:focus{
	outline: none;
}

.jy-style .button-icon{
    float: left;
    width: 80px;
    height: 36px;
    background: #B61D1D;
    border: none;
    line-height: 1;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
}

/*-------------------购物车-----------------*/
.jy-style .dropdown{
	width: 141px;
	height: 36px;
	float: right;
	margin-top: 25px;
	margin-right: 65px;
}

.jy-style .shopcar-icon{
	width: 75px;
    height: 34px;
    border: 1px solid #DFDFDF;
    padding: 0 28px 0 36px;
    background: #F9F9F9;
    text-align: center;
}

.jy-style .shopcar-left{
	margin-top: 9px;
    margin-left: -18px;
    width: 18px;
    height: 16px;
    background:url(../img/images/jd2015img.png) 0 -58px no-repeat;
}

.jy-style .txt{
	float:left;
	margin-top: -16px;
	margin-left: 8px;
	font-size: 13px;
}

.jy-style .shopcar-right{
    width: 7px;
    height: 13px;
    float: right;
    margin-top: -12px;
    margin-right: -18px;
    overflow: hidden;
    font: 400 13px/13px simsun;
    color: #999;
}

.jy-style .shopcar-count{
	margin-top: -30px;
    margin-right: -14px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    float: right;
}


.jy-style .dropdown:hover .shopcar-icon{
	background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.jy-style .dropdown:hover .dropdown-layer {
	position: absolute;
	width: 310px;
	height: 71px;
    display: block;
    float: left;
    margin-top: 2px;
    margin-left: -171px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.jy-style .dropdown:hover .spacer{
	position: absolute;
    right: 1px;
    top: 31px;
    width: 139px;
    height: 12px;
    background: #fff;
}

.jy-style .dropdown:hover .nogoods{
    padding-left: 24px;
    font-size: 13px;
    text-align: center;
    margin-top: 26px;
    color: #999;
}

.jy-style .dropdown:hover .nogoods b {
    float: left;
    width: 56px;
    height: 49px;
    margin-top: -17px;
    background: url(../img/images/settleup-nogoods.png);
}

.jy-style .dropdown-layer{
	height: 0;
	overflow: hidden;
}


/*-------------------热搜词-----------------*/
.jy-style .hotwords{
	width: 518px;
	height: 20px;
	float: left;
	line-height: 20px;
	font-size: 12px;
}

.jy-style .hotwords a{
	margin-right: 10px;
}

.jy-style .hotwords a:hover{
	color: #C81623;
}

/*--------------------放大镜----------------*/
.jy-style .content{
	width: 1210px;
	height: 754px;
	margin:0 auto;
}

.jy-style .preview{
	width: 452px;
	height: 568px;
	float: left;
	margin-right: 15px;
    padding: 0 4px;
}

.jy-style .mid-images{
	width: 452px;
	height: 452px;
	margin-bottom: 20px;
	position: relative;
	border: 1px solid #eee;
}

.jy-style .mid-images i{
	width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 423px;
    top: 423px;
    background:url(../img/images/__sprite.png) no-repeat;
}

/*小图片轮播*/
.jy-style .small-images{
	position:relative;
	width:452px; 
	height:58px; 
	float:left; 
	margin-bottom: 18px;
	}

.jy-style .smallimg-slider {
	width:390px;
	height:58px;
	margin-left: 33px;
	overflow:hidden;
	}

.jy-style .smallimg-slider ul{
/*	width: 2000px;*/
	height: 58px;
	margin:0;
	padding:0;
	}

.jy-style .smallimg-slider li {
	width: 58px; 
	height: 58px;
	overflow:hidden; 
	float:left; 
	text-align:center;
	margin: 0 10px;
	}

.jy-style .smallimg-slider li img{
	width:54px;
	height:54px;
	border: 2px solid #FFF;
	}
	
.jy-style .smallimg-slider li:hover img {
	width:54px;
	height:54px;
    border: 2px solid #e53e41;
}

/*轮播箭头样式*/
.jy-style .left-slider{
    display: block;
    width: 22px;
    height: 32px;
    float: left;
    cursor: pointer;
    margin-top: 12px;
	background:url(../img/images/left-slider.png);
	}
	
.jy-style .right-slider{
	display: block;
    width: 22px;
    height: 32px;
    float: right;
    cursor: pointer;
    margin-top: -46px;
	background-color:#03C;
	background:url(../img/images/right-slider.png);
	}


/* bigImg 放大镜 */
.mid-images #winSelector{
	width:280px; height:280px;
	}
	
#winSelector{
	position:absolute; 
	cursor:crosshair; 
	filter:alpha(opacity=15); 
	-moz-opacity:0.15; 
	opacity:0.15; 
	background-color:#000; 
	border:1px solid #fff;
	}
/* bigView */
#bigView{
	position:absolute;
	border: 1px solid #959595; 
	overflow: hidden; 
	z-index:999;
	}
	
#bigView img{
	position:absolute;
	}


/*-----------------------分享图标-----------------------*/
.jy-style .preview-info{
	width: 452px;
	height: 20px;
	float: left;
	font-size: 10px;
}

.jy-style .preview-info a:hover {
    color: #E3393C;
}


.jy-style .left-btns{
	width: 143px;
	height: 18px;
	float: left;
}

.jy-style .left-btns a {
    cursor: pointer;
    margin-right: 2px;
}

.jy-style .concern{
	width: 47px;
	height: 14px;
	float: left;
}

.jy-style .heart-jy{
    width: 14px;
    height: 13px;
    float: left;
    margin-top: 3px;
    background-image:url(../img/images/__sprite.png);
    background-position: -52px -44px;
}

.jy-style .share{
    width: 15px;
    height: 14px;
    float: left;
    margin-top: 3px;
    background-image: url(../img/images/__sprite.png);
    background-position: -52px -16px;
}

.jy-style .compare{
    width: 15px;
    height: 16px;
    float: left;
    margin-top: 3px;
    background-image: url(../img/images/__sprite.png);
    background-position: -30px -32px;
}

.jy-style .right-btns{
	width: 24px;
	height: 18px;
	float: right;
}









.jy-style .chooseitem{
	width: 738px;
	height: 754px;
	float: right;
	background-color: coral;
}








/*配件，轮播，Tab切换*/
.jy-style .fittings{
	width: 1208px;
	height: 256px;
	margin: 0 auto;
}

.jy-style .po-nav{
	width: 1208px;
	height: 38px;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-bottom: 1px solid #e4393c;
}

.jy-style .fittings ul {
	width: 1208px;
	
	overflow:hidden;
	zoom:1;
	list-style-type:none;
	font-size: 14px;
}

.jy-style .fittings li {
	float:left;
	width:106px;
	height:38px;
	line-height:38px;
	text-align:center;
	cursor: pointer;
	}

.jy-style .fittings li.popularity {
	background-color: #e4393c;
    color: #fff;
    cursor: default;
	}

.jy-style .fittings li.popularity:hover{
	color: #fff;
}

.jy-style .fittings li:hover{
	color: #e4393c;
}


.jy-style .fittings a:hover {
    color: #C81623;
}

.jy-style .more{
	width: 73px;
	height: 26px;
	float: right;
	margin-top: -39px;
	padding-top: 10px;
	font-size: 12px;
}

.jy-style .more c{
	font-family: simsun;
}


/*.items{
	width: 63px;
	height: 26px;
	background-color:aquamarine;
	font-size: 12px;
}*/


.jy-style .tabs_con {
	width:1210px;
	height:196px;
	padding-top: 20px;
	font-size: 12px;
	}

/*.tabs_con div {
	width:1210px;
	height:217px;
	display:none;
	border-top:none;
	}*/

.jy-style .tabs_con div.podiv {
	width:1210px;
	height:195px;
	display:block;
	border-top:none;
	}


.jy-style .hide{
	display: none;
}

.jy-style .mainphone{
	width: 134px;
	height: 161px;
	float: left;
	padding: 0 5px;
}

.jy-style .main-img{
	position:relative;
	width: 136px;
	height: 105px;
	background-color: #fff;
}

.jy-style .main-img .plus {
    width: 23px;
    height: 23px;
    overflow: hidden;
    line-height: 1000px;
    position: absolute;
    right: 8px;
    top: 44px;
    background:url(../img/images/add.png) no-repeat;
}

.jy-style .main-name{
	width: 136px;
	height: 36px;
	max-height: 3em;
    min-height: 36px;
    line-height: 1.5em;
    overflow: hidden;
}


/*轮播*/
.jy-style .main-slider{
	position: relative;
	width: 840px;
	height: 161px;
	float: left;
}


.jy-style .m-slider{
	width: 720px;
	height: 161px;
	margin: 0 auto;
	overflow: hidden;
	margin: 0 38px 0 68px;
}

.jy .m-slider ul{
	width: 864px;
	height: 161px;
	font-size: 12px;
}

.jy-style .m-slider li{
	width: 144px;
	height: 161px;
	float: left;
	line-height: 17px;
}

.jy-style .m-slider input{
	vertical-align: middle;
}

.jy-style .m-img{
	width: 134px;
	height: 105px;
}

.jy-style .m-name{
	width: 134px;
	height: 36px;
	overflow: hidden;
}

.jy-style .m-price{
	width: 134px;
	height: 19px;
	text-align: left;
}

.jy-style .choose{
	margin: 3px 3px 3px 4px;
}

.jy-style .fee{
	font-size: 14px;
    line-height: 14px;
    color: #e4393c;
    font-family: Verdana;
    font-weight: bold;
}


.jy-style .m-left-slider{
	position: absolute;
	left: 22px;
	top: 40px;
	width: 23px;
	height: 73px;
	float: left;
    display: block;
    background:url(../img/images/left-right.png) 0 -94px no-repeat;
}

.jy-style .m-right-slider{
	position: absolute;
	width: 23px;
	height: 73px;
	top: 40px;
	right: 2px;
    display: block;
    background:url(../img/images/left-right.png) 0 0 no-repeat;
}


.jy-style .m-left-slider:hover {
    background-position: -46px -94px;
}

.jy-style .m-right-slider:hover {
    background-position: -46px 0;
}

/*--轮播结束--*/

.jy-style .group{
	width:150px;
	height: 87px;
	padding-left: 50px;
    padding-top: 15px;
	float: left;
	position: relative;
	background-color: #fff;
}

.jy-style .podiv .equal{
	width:23px;
	height: 23px;
	overflow: hidden;
    line-height: 1000px;
    position: absolute;
    left: 0;
    top: 30px;
    background:url(../img/images/equal.png) no-repeat;
}

.jy-style .selected{
	width: 150px;
	height: 18px;
	margin-bottom: 10px;
}

.jy-style .group-price{
	width: 150px;
	height: 21px;
	margin-bottom: 10px;
}

.jy-style .group-price strong{
	font-size: 18px;
	color: #e4393c;
	font-family: Verdana;
}

.jy-style .nowbuy{
	width: 80px;
	height: 28px;
	background-color: #df3033;
	color: #fff;
	cursor: pointer;
	text-align: center;
	line-height: 28px;
}








/*中间商品介绍*/
.jy-style .producer{
	width: 1210px;
	height: 4646px;
	margin: 0 auto;
	
}

/*侧边栏*/
.jy-style .aside{
	width: 210px;
	height: 2126px;
	float: left;
	background-color: white;
}


/*商品介绍Tab切换2*/
.jy-style .troduce{
	
	
	float: right;
	/*background-color: #ccc;*/
}

.jy-style .tro-nav{
	width: 990px;
	height: 39px;
	border: 1px solid #eee;
    border-bottom: 1px solid #e4393c;
	background-color: #f7f7f7;
	position: relative;
}

.jy-style div.large li {
	float: left;
    padding: 10px 25px;
    font-size: 14px;
    background-color: #f7f7f7;
    cursor: pointer;
}

.jy-style .troduce ul{
    list-style-type: none;
    font-size: 14px;
    
    zoom: 1;
    list-style-type: none;
    font-size: 14px;
}


.jy-style .troduce li.tgoods{
	background-color: #e4393c;
    color: #fff;
    cursor: default;
}

.jy-style .troduce li.tgoods:hover{
	color: #fff;
}

.jy-style .troduce li:hover{
	color: #e4393c;
}


.jy-style .ttabs_con {
	
	}

.jy-style .ttabs_con div.tdiv {
	width:990px;
	height:3600px;
	border-top:none;
	display:block;
	background-color:white;
	}

.jy-style .thide{
	display:none;
	}

.jy-style .ee{
	width:100px; 
	height:100px; 
	background-color:#F00;
	}


/*购物车*/
.jy-style .addbuycar{
	width: 95px;
	height: 28px;
	float: right;
	position: absolute;
	top: 6px;
    right: 10px;
}

.jy-style .addbuy{
	width: 95px;
	height: 28px;
	float: right;
	position: absolute;
    line-height: 26px;
    text-align: center;
    background-color: #df3033;
    cursor: pointer;
}

.jy-style .addbuy a{
	color: #FFF;
	font-size: 12px;
}


.jy-style .mini-product{
	width: 226px;
    height: 103px;
	float: right;
	margin-top: 28px;
    padding: 10px;
    border: 1px solid #ccc;
	background-color:#fff;
	display: none;
}

.jy-style .mini-img{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
	padding-bottom: 5px;
}

.jy-style .mini-info{
	width: 114px;
	height: 60px;
	float: left;    
	font-size: 12px;
}

.jy-style .mini-name{
	width: 114px;
	height: 36px;
	float: left;
	line-height: 1.5em;
    margin-bottom: 5px;
    overflow: hidden;
}

.jy-style .mini-price{
	width: 114px;
	height: 19px;
	float: left;
}

.jy-style .mini-price strong{
	color: #e4393c;
    font-size: 14px;
    font-family: Verdana;
}

.jy-style .addbuycar:hover .mini-product{
	display: block;
}

/*--购物车结束--*/



/*购买咨询*/
.jy-style .consult{
	margin-top: 167px;
}

.jy-style .consult a:hover{
	color: #C81623;
}

.jy-style .consult-title{
	width: 968px;
    height: 21px;
	padding: 10px;
	position: relative;
	background-color: #f7f7f7;
    border: 1px solid #eee;
}

.jy-style .consult-title h3{
	font: 700 14px "microsoft yahei";
}

.jy-style .consult-extra{
	width: 258px;
	height: 33px;
	position: absolute;
    top: 0;
    right: 0;
}

.jy-style .c-item{
	float: left;
    margin-right: 10px;
    padding-top: 8px;
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
}

.jy-style .c1{
	width: 16px;
	height: 20px;
	float: left;
	vertical-align: middle;
	background: url(../img/images/c1.gif) no-repeat;
}

.jy-style .c2{
	width: 17px;
    height: 18px;
    float: left;
    background-image:url(../img/images/c2.png);
    background-position: 0 0;
}

.jy-style .consult-btn{
	width: 80px;
	height: 28px;
	float: right;
	text-align: center;
	margin-top: -3px;
	line-height: 26px;
	background-color: #df3033;;
}

.jy-style .consult-btn a{
	color:#fff;
}

.jy-style .consult-btn a:hover{
	color:#fff;
}

/*购买咨询Tab切换*/
.jy-style .consult-center{
	width: 990px;
	height: 561px;
}

.jy-style .con-nav{
	width: 978px;
	height: 29px;
	border: 1px solid #f5f5f5;
    background-color: #fafafa;
	position: relative;
	padding-left: 10px;
}

.jy-style div.larger li {
	float: left;
    padding: 5px 20px 5px 0;
    font-size: 12px;
    background-color: #fafafa;
    cursor: pointer;
}

.jy-style .consult-center ul{
    width: 988px;
    height: 29px;
    overflow: hidden;
    zoom: 1;
    list-style-type: none;
    font-size: 14px;
}


.jy-style .consult-center li.cgoods{
    color: #e4393c;
    cursor: default;
}

.jy-style .consult-center li:hover{
	color: #e4393c;
}

.jy-style .ctabs_con {
	/*width:304px;
	height:200px;*/
	padding: 10px 0;
	}

.jy-style .ctabs_con div.cdiv {
	width:990px;
	height:512px;
	border-top:none;
	display:block;
/*	background-color:#7FFF00;*/
	}

.jy-style .chide{
	display:none;
	}


/*商品查询div面板内容*/
.jy-style .consult-search{
	width: 930px;
    height: 492px;
	padding: 20px 30px 0;
}

.jy-style .consult-search p {
    color: #999;
    font-size: 12px;
    padding-bottom: 10px;
}



/*-------------------搜索栏-----------------*/
.jy-style .c-search{
	width: 930px;
	float: left;
}

.jy-style .c-form{
	width: 930px;
	height: 36px;
}

.jy-style .c-text{
	float: left;
    width: 449px;
    height: 32px;
    border: 1px solid #ccc;
    border-right: none;
    font: 12px/34px simsun;
    color: #999;
    padding: 0 10px;
}

.jy-style .c-button-icon{
    float: left;
    width: 82px;
    height: 34px;
    background: #e4393c;
    border: none;
    line-height: 1;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
}


/*咨询内容*/
.jy-style .c-search-list{
	width: 930px;
	height: 430px;
	float: left;
	font-size: 12px;
}

.jy-style .list-item{
	width: 930px;
	height: 74px;
	border-bottom: 1px dotted #eee;
}

.jy-style .l-item{
	width: 930px;
	height: 18px;
	padding: 15px 0 7px;
}

.jy-style .l-item c{
	color: #999;
}

.jy-style .l-item d{
	float: right;
}

.jy-style .item-answer{
	width: 930px;
	height: 18px;
	color: #ff6500;
	padding-bottom: 15px;
}

.jy-style .item-answer d{
	float: right;
}


.jy-style .total{
	width: 930px;
	height: 42px;
	text-align: right;
	line-height: 42px;
    color: #999;
}

.jy-style .total a{
    color: #666;
    text-decoration: none;
}









/*手机社区*/
.jy-style .mobile{
	width: 990px;
	height: 602px;
}

.jy-style .mobile a:hover{
	color: #C81623;
}

.jy-style .mobile-title{
	width: 968px;
    height: 21px;
	padding: 10px;
	position: relative;
	background-color: #f7f7f7;
    border: 1px solid #eee;
}

.jy-style .mobile-title h3{
	font: 700 14px "microsoft yahei";
}

.jy-style .mobile-extra{
	width: 258px;
	height: 33px;
	position: absolute;
    top: 0;
    right: 0;
}

.jy-style .m-item{
	float: right;
    margin-right: 10px;
    padding-top: 8px;
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
}

.jy-style .mobile-btn{
	width: 80px;
	height: 28px;
	float: right;
	text-align: center;
	margin-top: -3px;
	line-height: 26px;
	background-color: #df3033;;
}

.jy-style .mobile-btn a{
	color:#fff;
}

.jy-style .mobile-btn a:hover{
	color:#fff;
}

/*手机社区Tab切换*/
.jy-style .mobile-community{
	width: 990px;
	height: 561px;
}

.jy-style .mo-nav{
	width: 978px;
	height: 29px;
	border: 1px solid #f5f5f5;
    background-color: #fafafa;
	position: relative;
	padding-left: 10px;
}

.jy-style div.largers li {
	float: left;
    padding: 5px 20px 5px 0;
    font-size: 12px;
    background-color: #fafafa;
    cursor: pointer;
}

.jy-style .mobile-community ul{
    width: 988px;
    height: 29px;
    overflow: hidden;
    zoom: 1;
    list-style-type: none;
    font-size: 14px;
}


.jy-style .mobile-community li.mgoods{
    color: #e4393c;
    cursor: default;
}

.jy-style .mobile-community li:hover{
	color: #e4393c;
}

.jy-style .mtabs_con {
	/*width:304px;
	height:200px;*/
	padding: 10px 0;
	}

.jy-style .mtabs_con div.mdiv {
	width:990px;
	height:512px;
	border-top:none;
	display:block;
/*	background-color:#7FFF00;*/
	}

.jy-style .mhide{
	display:none;
	}


/*手机社区div面板内容*/
.jy-style .mobile-center{
	width: 950px;
    height: 492px;
	padding: 0 20px 20px;
}


/*帖子内容*/
.jy-style .mobile-community-list{
	width: 950px;
/*    height: 1338px;*/
	float: left;
	font-size: 12px;
	background-color: #fff;
}

.jy-style .m-list-item{
	width: 890px;
    padding: 20px 30px;
    border-bottom: #eee 1px solid;
}

.jy-style .m-l-item{
	width: 930px;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.jy-style .m-l-item p{
	margin-top: 10px;
	width: 890px;
	font: 14px/26px simsun;
    color: #999;
    cursor: pointer;
}

.jy-style .m-l-item p:hover{
	color:#999;
	font: 14px/26px simsun;
}

.jy-style .m-item-time{
	width: 890px;
	padding-top: 5px;
	color:#999;
}

.jy-style .m-item-time c{
	float: right;
	color: #666;
}




/*猜你喜欢*/
.jy-style .guesslike{
	width: 1210px;
	height: 266px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.jy-style .foot-nav{
	width: 1188px;
    height: 21px;
	padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #eee;
}

.jy-style .foot-nav .title{
	width: 50%;
	font: 700 14px "microsoft yahei";
    float: left;
}

.jy-style .extra{
	width: 50%;
    float: right;
    text-align: right;
    font-size: 12px;
}

/*---尾部轮播---*/
.jy-style .footerslider{
	width: 1210px;
	height: 225px;
}

/*左右箭头*/
.jy-style .f-left-slider{
	width: 16px;
	height: 26px;
	float: left;
	margin-top: 86px;
	margin-left: 10px;
	cursor: pointer;
	background:url(../img/images/footerslider.png) 0 2px no-repeat;
}

.jy-style .f-left-slider:hover{
	background-position: 0 -48px;
}

/*.footerslider .f-pre.f-disabled{
	background-position: 0 -99px;
    cursor: default;
}

.footerslider .f-pre{
	background-position: 0 2px;
}*/

.jy-style .f-right-slider{
	width: 16px;
	height: 26px;
	float: right;
	margin-top: 86px;
	margin-right: 10px;
	cursor: pointer;
	background:url(../img/images/footerslider.png) -16px 2px no-repeat;
}

.jy-style .f-right-slider:hover{
	background-position: -16px -48px;;
}








.jy-style .f-slider{
	width: 1128px;
	height: 211px;
	margin-left: 33px;
	overflow: hidden;
}

.jy-style .f-slider ul{
	width: 2256px;
	height: 211px;
	padding-top: 15px;
	list-style-type: none;
}

.jy-style .f-slider li{
	width: 150px;
	height: 196px;
	float: left;
	position: relative;
	text-align: center;
	padding: 0 18px 15px 20px;
}

.jy-style .f-images{
	width: 160px;
	height: 160px;
	cursor:pointer;
	padding-bottom: 5px;
}

.jy-style .f-img{
	width: 160px;
	height: 160px;
	padding-bottom: 5px;
}

.jy-style .f-price{
	width: 160px;
	height: 25px;
	color: #e3393c;
    padding-top: 5px;
    font: 20px Verdana;
}



/*浮动名字*/
.jy-style .f-name{
	width: 160px;
	height: 36px;
	position: absolute;
	top: 124px;
	text-align: left;
    line-height: 15px;
    overflow: hidden;
	background: rgba(0,0,0,.7);
	display: none;
}

.jy-style .f-name a{
	color: #fff;
	font-size: 12px;
}

.jy-style .f-images:hover .f-name{
	display: block;
}



/*尾部*/
.jy-style .footer{
	width: 1349px;
	height: 479px;
	padding-bottom: 30px;
}


/*横条+购物指南*/
.jy-style .service{
	width: 1349px;
	height: 264px;
	margin-bottom: 20px;
}

.jy-style .spans{
	width: 1205px;
    height: 54px;
    padding: 20px 72px;
    margin-bottom: 14px;
    background-color: #F5F5F5;
}

.jy-style .span{
	width: 301px;
	height: 54px;
	float: left;
}

.jy-style .guide{
	width: 1349px;
	height: 156px;
	margin: 0 auto;
}

.jy-style .block{
    width: 196px;
	height: 156px;
	margin-left: 70px;
	float: left;
}

.jy-style .b-name{
	width: 196px;
	height: 24px;
	padding: 6px 0;
    font: 400 16px/24px "microsoft yahei";
}

.jy-style .block-list{
	width: 196px;
	height: 120px;
}

.jy-style .b-list{
	width: 196px;
	height: 20px;
	font-size: 12px;
}

.jy-style .b-list a:hover{
	color: #C81623;
}


/*最底部*/
.jy-style .f-bottom{
	width: 1210px;
	height: 195px;
	margin: 0 auto;
}

.jy-style .f-bottom a:hover{
	color: #C81623;
}

.jy-style .bottom{
	width: 1210px;
	height: 144px;
	border-top: 1px solid #E5E5E5;
    padding: 20px 0 30px;
    text-align: center;
    font-size: 12px;
}

.jy-style .f-links{
	width: 1210px;
	height: 18px;
}

.jy-style .f-links a{
	margin: 0 10px;
}

.jy-style .bottom-center{
	width:1210px;
	height: 74px;
	margin: 10px 0;
	line-height: 18px;
}

.jy-style .bottom-center img{
	vertical-align: middle;
}

.jy-style .bottom-center a{
	margin: 0 7px;
}

.jy-style .bottom-footer{
	width: 1210px;
	height: 32px;
}

.jy-style .bottom-footer a{
	margin: 0 5px;
}
